<!-- This is where the hamburger button and nav menu should be -->
<nav class="navigation-menu">
  <div class="hamburger-icon"></div>
  <div class="links-wrapper">
    <ul>
      <li><a href="#">Pledge of Achievement</a></li>
      <!-- Change the css of the div to make a right arrow -->
      <li><a href="#">Trustees<div class="left-arrow"></a></div>
        <!-- This is a flyout inside of the trustees menu item -->
        <ul>
          <li><a href="#">Upcoming Board Meetings</a></li>
          <li><a href="#">Board Meetings</a></li>
          <li><a href="#">Get to Know</a></li>
          <li><a href="#">Maps</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Newsfeed</a></li>
      <li><a href="#">School Choice</a></li>
      <li><a href="#">Teach Vegas</a></li>
      <li><a href="#">Report a Bully</a></li>
      <li><a href="#">Calendars</a></li>
      <li><a href="#">School Lunch menu</a></li>
      <li><a href="#">Faces-Family & Community Engagement</a></li>
    </ul>
  </div>
</nav>
