<!-- This is where the hamburger button and nav menu should be -->
<nav class="navigation-menu">
  <div class="hamburger-icon"></div>
  <div class="links-wrapper">
    <ul>
      <li><a href="index.html">Pledge of Achievement</a></li>
      <!-- Change the css of the div to make a right arrow -->
      <li><a href="trustees.html">Trustees<div class="left-arrow"></a></div>
        <!-- This is a flyout inside of the trustees menu item -->
        <ul>
          <!-- TODO: Fix the relative links (requires some form of angular routing)-->
          <li><a href="#">Upcoming Board Meetings</a></li>
          <li><a href="#">Board Meetings</a></li>
          <li><a href="#">Get to Know</a></li>
          <li><a href="#">Maps</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="http://newsroom.ccsd.net/news-feed/">Newsfeed</a></li>
      <li><a href="http://itsyourchoice.ccsd.net/">School Choice</a></li>
      <li><a href="http://teachvegas.ccsd.net/teaching/overview/">Teach Vegas</a></li>
      <li><a href="http://ccsd.net/students/bully/">Report a Bully</a></li>
      <li><a href="http://ccsd.net/district/calendar/">Calendars</a></li>
      <li><a href="http://ccsd.net/departments/food-service/school-lunch-menus">School Lunch menu</a></li>
      <li><a href="http://faces.ccsd.net/">Faces-Family & Community Engagement</a></li>
    </ul>
  </div>
</nav>
